<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'portfolio/base.html' %}
{% block content %}
<div class="row justify-content-center mt-2">
    <h1>{{ project.name }}</h1>
</div>
<div class="row mt-3">
    {% for image in images %}
    <div class="col-md-6">
        <img class="img-fluid mb-2" src="{{ image.image.url }}">
    </div>
    {% endfor %}
</div>
<div class="row justify-content-center mt-2 mt-3">
    <div class="col">
        <p style="font-size: 18px;">{{ project.description }}</p>
    </div>
</div>
<div class="row justify-content-center mt-2 mt-3">
    <div class="col ml-5">
        <a class="btn btn-lg btn btn-outline-primary" href="#" role="button">Протестировать</a>
    </div>
    <div class="col mt-2">
        Ссылка на Github: <a target="_blank" href="{{project.url}}">{{ project.url }}</a>
    </div>
</div>
<br>
{% endblock %}
</body>
</html>